<html>
   <body>
      <form action = "/timer" method = "POST">
         <p><h3>It's nice to meet you, {{ name }}. Before we begin, please input an emergency contact. (Change this lol) </h3></p>
         <p>Contact Name: <input type = 'text' name = 'c_nm'/></p>
         <p>Contact Phone: <input type = 'text' name = 'c_phone'/></p>
         <p><input type = 'submit' value = 'Submit'/></p>
         <a href="/" target="_self">Thank you. Click here to return back to home page</a>
      </form>
   </body>
</html>